* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
.outer-conteiner {
  border: 2px solid green;
}
.inner-block {
  border: 2px solid red;
}
.grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px 20px;
} */
.header,
.nav,
.main,
.footer {
  border: 5px solid green;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 300px) minmax(400px, 600px) 1fr;
    grid-template-rows: 250px 1fr 150px;
    grid-template-areas: 
    'page-header page-header page-header page-header'
    '. page-nav page-main .'
    'page-footer page-footer page-footer page-footer';
}

.header{
    grid-area: page-header;
}
.nav{
    grid-area: page-nav;
}
.main{
    grid-area: page-main;
}
.footer{
    grid-area: page-footer;
}
@media screen and (max-width:650px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 250px auto 1fr 100px ;
        grid-template-areas: 
        'page-header'
        'page-nav'
        'page-main'
        'page-footer';
    }
    
}